@page "/"

<div class="container">
    <img src="media/ur10.png" class="rounded mx-auto d-block" alt="Bot" height="200">
    <div class="row mb-2">
        <label class="h2">Authentification</label>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" @bind="_username" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" @bind="_password" />
        </div>
    </div>
    <div class="row">
        <div>
            <a href="bots">
                <input class="btn btn-success form-control" type="button" value="Login" />
            </a>
        </div>
    </div>
</div>

@code{
    private string _username = string.Empty;
    private string _password = string.Empty;


}